{% extends "base.twig" %}

{% block content %}
	<!-- <div class="hero">
		<div class="bg hero-bg" style="background-image: url({{ theme.path }}/static/img/hero-ph.jpg);" rel="fullscreen"></div>
		<div class="hero-content">
			<h1>All Ameri<span class="strikethrough">kkk</span>an Bada$$</h1>
			<a href="#">Listen Now</a>
		</div>
	</div> -->
	<div class="no-hero"></div>
	<div class="content-wrapper" rel="fillscreen">
		<div class="row">
			<div class="small-12 medium-12 large-11 small-centered column text-center">
				<h1 class="archive-title">JOEY BADA$$ TOUR</h1>
				<table class="tourdates">
					<tr>
							<td colspan="5" style="background-color: #333; text-align: center;">
								<h6 style="color: #fff;">EVERYBODY’S TOUR</h6>
							</td>
					</tr>
					{% for row in post.get_field('tour_row') %}
					<tr>
						<td>{{row.date}}</td>
						<td><span>{{row.venue}}</span></td>
						<td>{{row.city_state}}</td>
						{% if row.disable %}
							<td><a href="#" class="disable">Buy Tickets</a></td>
						{% else %}
							<td><a href="{{row.buy_url}}">Buy Tickets</a></td>
						{% endif %}
						<td>
							{% if row.vip %}
								{% if row.vip_url %}
									<a href="{{row.vip_url}}">VIP</a>
								{% else %}
									<a href="http://bit.ly/joeyvip">VIP</a>
								{% endif %}
							{% endif %}
						</td>
					</tr>
					{% endfor %}
				</table>
				<div class="red more-dates">
					<span>* more tour dates </span>
					<div>to be announced soon!</div>
				</div>
			</div>
		</div>
	</div><!-- /content-wrapper -->
{% endblock %}
