{% extends "base.twig" %}

{% block content %}
	<div class="hero">
		<div class="bg hero-bg" style="background-image: url({{ theme.path }}/static/img/hero-ph.jpg);" rel="fullscreen"></div>
		<div class="hero-content">
			<h1>All Ameri<span class="strikethrough">kkk</span>an Bada$$</h1>
			<a href="#">Listen Now</a>
		</div>
	</div>
	<div class="content-wrapper amerikan-bg">
		<div class="inner-wrapper">
			<div class="row">
				<div class="small-12 column text-center">
					<img class="album-rotate" src="{{theme.path}}/static/img/albumart.jpg" alt="">
					<h2>Listen to the album</h2>
					<ul class="menu simple">
						<li><a href="#">Soundcloud</a></li>
						<li><a href="#">Amazon</a></li>
						<li><a href="#">iTunes</a></li>
						<li><a href="#">Google Play</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="small-12 medium-8 large-6 small-centered column text-center">
					<div class="row small-up-1 medium-up-2 image-grid">
						<div class="column"><a href="#" class="def-link"><img src="{{theme.path}}/static/img/ph-album-art1.jpg" alt=""></a></div>
						<div class="column"><a href="#" class="def-link"><img src="{{theme.path}}/static/img/ph-album-art1.jpg" alt=""></a></div>
						<div class="column"><a href="#" class="def-link"><img src="{{theme.path}}/static/img/ph-album-art1.jpg" alt=""></a></div>
						<div class="column"><a href="#" class="def-link"><img src="{{theme.path}}/static/img/ph-album-art1.jpg" alt=""></a></div>
					</div>
					<a href="/music">View More Music</a>
				</div>
			</div>
			<div class="row">
				<div class="small-12 medium-12 large-8 small-centered column text-center">
					<h2>JOEY BADA$$ TOUR</h2>
					<table class="tourdates">
						<tr>
							<td>DATE, XX, 2017</td>
							<td><span>Venue</span></td>
							<td>Location, ST</td>
							<td><a href="#">Buy Tickets</a></td>
						</tr>
						<tr>
							<td>DATE, XX, 2017</td>
							<td><span>Venue</span></td>
							<td>Location, ST</td>
							<td><a href="#">Buy Tickets</a></td>
						</tr>
						<tr>
							<td>DATE, XX, 2017</td>
							<td><span>Venue</span></td>
							<td>Location, ST</td>
							<td><a href="#">Buy Tickets</a></td>
						</tr>
						<tr>
							<td>DATE, XX, 2017</td>
							<td><span>Venue</span></td>
							<td>Location, ST</td>
							<td><a href="#">Buy Tickets</a></td>
						</tr>
						<tr>
							<td>DATE, XX, 2017</td>
							<td><span>Venue</span></td>
							<td>Location, ST</td>
							<td><a href="#">Buy Tickets</a></td>
						</tr>
						<tr>
							<td>DATE, XX, 2017</td>
							<td><span>Venue</span></td>
							<td>Location, ST</td>
							<td><a href="#">Buy Tickets</a></td>
						</tr>
						<tr>
							<td>DATE, XX, 2017</td>
							<td><span>Venue</span></td>
							<td>Location, ST</td>
							<td><a href="#">Buy Tickets</a></td>
						</tr>
					</table>
					<div class="red more-dates">
						<span>* more tour dates </span>
						<div>to be annouced soon!</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-12 column text-center">
					<div class="full-height">
						<a href="#">View the merch</a>
					</div>
				</div>
			</div>
		</div>
	</div><!-- /content-wrapper -->
{% endblock %}
