{% extends "base.twig" %}

{% block content %}
    <div class="hero">
        <div class="bg hero-bg" rel="fullscreen">
            <video playsinline="" autoplay="" loop="" width="600" height="337.5" preload="metadata">
                <!-- 				<source type="video/mp4" src="{{theme.path}}/static/jba-teaser.mp4"> -->
                <source type="video/mp4" data-breakpoint="breakpoints.suzuki.mobile-lg" data-media="(max-width: 600px)" data-src="https://player.vimeo.com/external/211015222.hd.mp4?s=06f330a7dcf6755400b63de0a9abb9a26b7bf33b&profile_id=174">
                <!-- 				<source type="video/webm" data-breakpoint="breakpoints.suzuki.mobile-lg" data-media="(max-width: 600px)" data-src="//bg.cdn.ustudio.com/app/transcodes/TuX1xml2yZsS.webm"> -->
                <source type="video/mp4" data-src="//bg.cdn.ustudio.com/app/transcodes/TrjIRpNdsK1V.mp4" src="https://player.vimeo.com/external/211015222.hd.mp4?s=06f330a7dcf6755400b63de0a9abb9a26b7bf33b&profile_id=174">
                <!-- 				<source type="video/webm" data-src="//bg.cdn.ustudio.com/app/transcodes/TSg23xf061MF.webm" src="//bg.cdn.ustudio.com/app/transcodes/TSg23xf061MF.webm"> -->
            </video>
        </div>
        <div class="hero-content">
            <h6 class="top">out now</h6>
            <h1>All Ameri<span class="strikethrough">kkk</span>an Bada$$</h1>
            <a target="_blank" href="https://joeybadass.lnk.to/AABA/">Download/Stream All-Ameri<span class="strikethrough">kkk</span>an Bada$$</a>
        </div>
        <div class="lower">
            {% include 'social-links.twig' %}
            <div class="video-ui">
                <a href="/dev/joeybadass/video/land-of-the-free/">Watch Full Video</a>
                <a href="#" class="mute def-link">
                    <i class="fa fa-volume-up"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="content-wrapper amerikan-bg">
        <img id="flagsrc" data-src="{{theme.path}}/static/img/american-bg-sm.jpg" alt="">
        <div class="inner-wrapper bg" style="background-image: url({{theme.path}}/static/img/homepage-bg-overlay.jpg);">
            <div class="album-section">
                <div class="row">
                    <div class="small-12 column text-center">
                        <img class="album-rotate" src="{{theme.path}}/static/img/albumart.jpg" alt="">
                        <h2>Listen to the album</h2>
                        <ul class="menu simple">
                            <li>
                                <a target="_blank" href="https://itunes.apple.com/us/album/all-amerikkkan-bada%24%24/id1210537350?uo=4&app=itunes&at=1001ltdd&ct=LFV_4423c535e02ecb678824817b7c8ed8a0">iTunes</a>
                            </li>
                            <li>
                                <a target="_blank" href="https://itunes.apple.com/us/album/all-amerikkkan-bada%24%24/id1210537350?uo=4&&app=music&at=1001ltdd&ct=LFV_4423c535e02ecb678824817b7c8ed8a0">Apple Music</a>
                            </li>
                            <li>
                                <a target="_blank" href="https://play.google.com/store/music/album?id=Bnm24npa57x67y2nbyuy4djytwm&tid=song-T333rxm54pz66y26kus5grbiere&PCamRefID=LFV_4423c535e02ecb678824817b7c8ed8a0">Google Play</a>
                            </li>

                            <li>
                                <a target="_blank" href="http://amazon.com/All-Amerikkkan-Bada-Explicit/dp/B06XN5N339?tag=linkfire03-20&ie=UTF8&linkCode=as2&ascsubtag=4423c535e02ecb678824817b7c8ed8a0">Amazon</a>
                            </li>
                            <li>
                                <a target="_blank" href="https://open.spotify.com/user/joeybadassofficial/playlist/3DW6Y58zVOY4K36zjrVyg3">Spotify</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="row" style="margin: 0;">
                    <div class="small-12 medium-10 large-8 small-centered column text-center">
                        <div class="row small-up-1 medium-up-2 image-grid">
                            <div class="column">
                                <a href="#" class="def-link">
																	<div class="image-pixelate">
	                                	<img src="{{theme.path}}/static/img/joey-bad-devestated.jpg" alt="">
	                                </div>
																</a>
																<h6 style="margin: 15px 0;">Devastated</h2>
																<ul class="menu simple">
																	<li><a href="https://open.spotify.com/album/49hUxaRYpToeJKerE9lNE5" class="def-link button"><i class="fa fa-spotify"><span>Spotify</span></i></a></li>
																	<li><a href="https://itunes.apple.com/us/album/land-of-the-free-single/id1196337895?uo=4&&app=itunes&at=1001ltdd&ct=LFV_4d4564e98aedda21da971e0ea1b14643" class="def-link button"><i class="fa fa-music"><span>iTunes</span></i></a></li>
																	<li><a href="https://itunes.apple.com/us/album/land-of-the-free-single/id1196337895?uo=4&&app=music&at=1001ltdd&ct=LFV_4d4564e98aedda21da971e0ea1b14643" class="def-link button"><i class="fa fa-apple"><span>Apple Music</span></i></a></li>
																	<li><a href="https://play.google.com/music/m/Bodvemaepusglw2hh57javqbc4e" class="def-link button"><i class="fa fa-play"><span>Google Play</span></i></a></li>
																	<li><a href="http://amazon.com/Land-of-the-Free-Explicit/dp/B01MS8SQH8?tag=linkfire03-20&ie=UTF8&linkCode=as2&ascsubtag=4d4564e98aedda21da971e0ea1b14643" class="def-link button"><i class="fa fa-amazon"><span>Amazon MP3</span></i></a></li>
																</ul>
                            </div>
                            <div class="column">
                                <a href="#" class="def-link">
																	<div class="image-pixelate">
	                                	<img src="{{theme.path}}/static/img/JBALOTF.png" alt="">
	                                </div>
																</a>
																<h6 style="margin: 15px 0;">Land of the Free</h2>
																<ul class="menu simple">
																	<li><a href="https://open.spotify.com/album/49hUxaRYpToeJKerE9lNE5" class="def-link button"><i class="fa fa-spotify"><span>Spotify</span></i></a></li>
																	<li><a href="https://itunes.apple.com/us/album/land-of-the-free-single/id1196337895?uo=4&&app=itunes&at=1001ltdd&ct=LFV_4d4564e98aedda21da971e0ea1b14643" class="def-link button"><i class="fa fa-music"><span>iTunes</span></i></a></li>
																	<li><a href="https://itunes.apple.com/us/album/land-of-the-free-single/id1196337895?uo=4&&app=music&at=1001ltdd&ct=LFV_4d4564e98aedda21da971e0ea1b14643" class="def-link button"><i class="fa fa-apple"><span>Apple Music</span></i></a></li>
																	<li><a href="https://play.google.com/music/m/Bodvemaepusglw2hh57javqbc4e" class="def-link button"><i class="fa fa-play"><span>Google Play</span></i></a></li>
																	<li><a href="http://amazon.com/Land-of-the-Free-Explicit/dp/B01MS8SQH8?tag=linkfire03-20&ie=UTF8&linkCode=as2&ascsubtag=4d4564e98aedda21da971e0ea1b14643" class="def-link button"><i class="fa fa-amazon"><span>Amazon MP3</span></i></a></li>
																</ul>
                            </div>
                        </div>
                        <a href="/music">View More Music</a>
                    </div>
                </div>
            </div>
            <div class="tour-section">
                <div class="row">
                    <div class="small-12 medium-12 large-8 small-centered column text-center">
                        <h2>JOEY BADA$$ TOUR</h2>
                        <table class="tourdates">
                            <tbody>
                                <tr>
                                    <td>4/20/17</td>
                                    <td>
                                        <span>OBSERVATORY</span>
                                    </td>
                                    <td>SANTA ANA, CA, US</td>
                                    <td>
                                        <a href="http://www.ticketweb.com/t3/sale/SaleEventDetail?eventId=7275735&amp;pl=observatory&amp;dispatch=loadSelectionData&amp;REFID=obs">Buy Tickets</a>
                                    </td>

                                </tr>
                                <tr>
                                    <td>5/5/17 - 5/7/17</td>
                                    <td>
                                        <span>ROLLING LOUD</span>
                                    </td>
                                    <td>MIAMI, FL, US</td>
                                    <td>
                                        <a href="http://www.ticketweb.com/">Buy Tickets</a>
                                    </td>

                                </tr>
                                <tr>
                                    <td>8/6/17</td>
                                    <td>
                                        <span>LOLLAPALOOZA</span>
                                    </td>
                                    <td>CHICAGO, IL, US</td>
                                    <td>
                                        <a href="http://www.ticketweb.com/">Buy Tickets</a>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                        <div class="red more-dates">
                            <span>* more tour dates
                            </span>
                            <div>to be annouced soon!</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="merch-section">
                <div class="row">
                    <div class="small-12 column text-center">
                        <div class="full-height">
                            <a target="_blank" title="Shop Merch" href="https://shop.theproera.com/">View the merch</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /content-wrapper -->
{% endblock %}
