{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<div class="row no-hero"></div>
		<div class="row">
			<div class="small-12 medium-4 column medium-offset-2">
				<img src="{{post.thumbnail}}" alt="">
			</div>
			<div class="small-12 medium-4 column end">
				<section class="article-content">
					<h1 class="h4">{{post.title}}</h1>
					<p class="blog-author">{{ post.post_date|date}}</p>
					<div class="article-body">{{post.content}}</div>
					<ul class="no-bullet">
						{% for item in post.get_field('links') %}
						    <li><a href="{{item.url}}" class="button def-link">{{item.icon}}  |  {{item.label}}</a></li>
						{% endfor %}
					</ul>
				</section>
			</div>
		</div>
	</div><!-- /content-wrapper -->
{% endblock %}
