{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<div class="offcanvas-menu show-for-small-only">
			<div class="offcanvas-wrapper">
				<div class="row">
					<div class="small-10 small-centered column">
						<a class="hdr-logo-link-mobile" href="{{site.url}}" rel="home">
							<img src="{{theme.path}}/static/img/jba-logo-wht.svg" alt="">
						</a>
					</div>
				</div>
				<nav class="mobile-nav">
					<ul class="mobile-links no-bullet text-center">
						{% include "menu.twig" with {'menu': menu.get_items} %}
						<li><a target="_blank" title="Pro Era Records" href="http://theproera.com/" class="def-link" style="width: 150px;     display: inline-block; margin-top: 50px;"><img src="{{theme.path}}/static/img/perecords.svg" alt=""></a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="offcanvas-wrap">
			<header class="header">
				{% block header %}
					<div class="wrapper hide-for-small-only">
						<a class="hdr-logo-link" href="{{site.url}}" rel="home">
							<img src="{{theme.path}}/static/img/jba-logo-wht.svg" alt="">
						</a>
						<nav id="nav-main" class="nav-main" role="navigation">
							<ul class="menu-links">
								{% include "menu.twig" with {'menu': menu.get_items} %}
							</ul>
						</nav><!-- #nav -->
						<div class="right-logo">
							<a target="_blank" title="Pro Era Records" href="http://theproera.com/" class="def-link"><img src="{{theme.path}}/static/img/perecords.svg" alt=""></a>
						</div>
					</div>

					<div class="mobile-top-bar show-for-small-only">
						<a href="#" class="menu-toggle"><i class="fa fa-bars fa-2x"></i></a>
						<h1>{{ site.title }}</h1>
					</div>

				{% endblock %}
			</header>

			<section id="content" role="main" class="content-wrapper">
				{% if title %}<h1 class="base-title">{{title}}</h1>{% endif %}
				<div class="wrapper {{sidebar_class}}">
					{% block content %}
						Sorry, no content
					{% endblock %}
				</div>
				{% if sidebar %}
					<aside class="layout-sidebar">
						{{sidebar}}
					</aside>
				{% endif %}
			</section>

			{% block footer %}
				<footer id="footer">
					{% include 'footer.twig' %}
				</footer>
				{{ function('wp_footer') }}
			{% endblock %}
		</div>
	</body>
</html>
